body {
    background-color: rgb(78, 22, 163);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    background-color: rgb(177, 59, 98);
}
.paragrafoESpecial {
    background-color: brown;
}
 